* {
  margin: 0;
  padding: 0;
}

body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

/*.container {*/
/*width: 80%;*/
/*margin: 10px auto;*/
/*height: 100%;*/
/*position: relative;*/
/*}*/

header {
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.panel-heading {
  margin: 0;
  padding: 20px 20px;
}

h4 {
  line-height: 66px !important;
}
.left, .right {
  min-height: 400px;
}

/*.left ul {*/
/*margin: 8px 0 0 8px;*/
/*}*/
.left {
  padding: 10px 0;
  margin-left: 15px;
}
.left li {
  padding: 3px;
  list-style: none;
}
.right {
  margin-left: 15px;
}

/*.left {*/
/*float: left;*/
/*width: 250px;*/
/*}*/

/*.right {*/
/*margin-left: 270px;*/
/*}*/

.active {
  color: #00a1b5 !important;;
}
